html {
    background: Black;
    -webkit-user-select: none;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: VT323;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h1,
h2, .points {
    font-weight: lighter;
    text-align: center;
    color:limegreen;
    margin-left: 3em;
    margin-right: 3em;
}

.scoreboard {
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.points {
    height: 3em;
    width: 5em;
    font-size: 2em;
    margin-left: 50px;
    margin-right: 50px;
}


.weapons {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    font-weight: bold;
}

img {
    margin-top: 20px;
    height: 60px;
}

.weapon {
    background: green;
    height: 6em;
    width: 6em;
    margin: 2em;
    text-align: center;
    border: .5em solid darkgreen;
    transition: all .05s ease;
}

.paper {
    margin-bottom: 120px;
}

.weapon:hover {
    background: lightgreen;
    border: .5em solid lime;
    box-shadow: 0px 0px 2em .1em greenyellow;
}

.weapon:active {
    background: rgb(166, 245, 166);
    box-shadow: 0px 0px 2.5em .2em greenyellow;
}

.playAgain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: grey;
    color: limegreen;
    font-family: VT323;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.displayMeNot {
    display: none;
}